<div class="home standard-component">
    <h1 class="component-heading">ÜBER MICH</h1>
    <img src="../../../assets/img/portrait_img_4073.png" alt="Girl in a jacket" width="141" height="141">
    <h4>DAGMAR FRERK</h4>

    <div class="intro-text">
        <p>Ich bin 1962 in Bielefeld geboren und aufgewachsen. 2011 habe ich eine Ausbildung zur Yoga-Lehrerin (IY)
            absolviert und unterrichte seit Anfang 2012 Hatha-Yoga. </p>
        <p>Es macht mir große Freude, anderen Menschen die vielen guten Aspekte des Yoga näher zu bringen. Um dies in
            einer angenehmen und freundlichen
            Atmosphäre tun zu können, habe ich meine Räume mit viel Liebe und Sorgfalt eingerichtet und mit
            Materialien von bester Qualität und Umweltfreundlichkeit ausgestattet. Meine Teilnehmer sind eingeladen sich hier so richtig wohlzufühlen und vom Alltag abzuschalten.</p>

        <p>Yoga hat seinen Ursprung in Indien und ist das älteste
            und umfassendste Ubungssystem der Welt.
            Durch Körper- und Atemübungen wird mehr Beweglichkeit und ein feineres Körperbewusstsein erlangt,
            der gesamte Organismus wird aktiviert.
            Entspannungsübungen und Meditation führen zur Stärkung des Nervensystems und zu einer tiefen
            körperlichen und geistigen Regeneration.
            Yoga schenkt uns mehr Kraft und Gelassenheit und einfach gute Laune!</p>

    </div>
</div>