<div class="courses standard-component">
    <h1 class="component-heading">KURSANGEBOT</h1>

    <div class="elements">

        <div #corona>
            <div class="image-and-heading">
                <span class="circle">
                    <img width="50" height="50" src="./../../../assets/img/courses/corona.png">
                </span>
                <h5 class="course-heading">CORONA-INFOS</h5>
            </div>
            <p class="description">
                Die Kurse können wieder stattfinden. Bei gutem Wetter machen wir Yoga im Garten unter freiem Himmel.
            </p>
        </div>

        <div #laufendeKurse>
            <div class="image-and-heading">
                <span class="circle">
                    <img src="./../../../assets/img/courses/icon-04.png">
                </span>
                <h5 class="course-heading">LAUFENDE KURSE</h5>
            </div>
            <ul>
                <li>Dienstag · 18.00 Uhr – 19.30 Uhr</li>
                <li>Mittwoch · 18.00 Uhr – 19.30 Uhr</li>
                <li>Donnerstag
                    <ul>
                        <li>09.30 Uhr – 11.00 Uhr</li>
                        <li>19.00 Uhr – 20.30 Uhr</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div #yogaAufDemStuhl>
            <div class="image-and-heading">
                <span class="circle">
                    <img src="./../../../assets/img/courses/icon-05.png">
                </span>
                <h5 class="course-heading">YOGA AUF DEM STUHL</h5>
            </div>
            <p class="description">Ein Angebot speziell für SeniorInnen. Übungen im Sitzen auf dem Stuhl, aber auch im Stand und am Boden.
            </p>
        </div>


        <div #einzelStunden>
            <div class="image-and-heading">
                <span class="circle">1 zu 1</span>
                <h5 class="course-heading">EINZELSTUNDEN</h5>
            </div>
            <p class="description">Sehr gerne! Sprechen Sie mich an.</p>
        </div>

    </div>

    <div class="bottom-notice">
        <p>Bitte melden Sie sich telefonisch oder per eMail an. Auf individuelle Einschränkungen kann eingegangen werden.</p>
    </div>
</div>